beautifulsoup4==4.9.1
boilerpy3==1.0.2
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
configparser==5.0.0
crayons==0.3.1
cryptography==3.2
idna==2.9
joblib==0.15.1
lxml==4.5.1
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
morfessor==2.0.6
nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work
numpy==1.18.5
pandas @ file:///C:/ci/pandas_1592833613419/work
polyglot==16.7.4
psutil==5.7.0
pycld2 @ file:///D:/Main%20Folder/Git%20Projects/Google_search_scraper/pycld2-0.41-cp38-cp38-win_amd64.whl
pycparser==2.20
PyICU @ file:///D:/Main%20Folder/Git%20Projects/Google_search_scraper/PyICU-2.4.3-cp38-cp38-win_amd64.whl
pyOpenSSL==19.1.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
regex==2020.5.14
requests==2.24.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
tqdm==4.46.1
urllib3==1.25.9
webdriver-manager==3.2.1
win-inet-pton==1.1.0
wincertstore==0.2
